body{
    background-color:#002837;
    color:white;
    font-family: 'Montserrat', sans-serif;
    
}
.loadbg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color:#002837;
}
a, a:hover, a:active{
    text-decoration: none !important;
}
p{
    line-height: 1.5em;
}
.glava{
    background-color: #002837;
    height: 0px;
    z-index: 70;
    position: fixed;
    top:0;
    left:0;
    right: 0;

}
.glavatelefon{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 91
}
.button-collapse i{
    color: #00AAAF;
    padding: 10px;
    filter: invert(30%);

}

#menu{
    top: 0;
    left:0;
    right: 0;
    height: 80px;
    max-width: 430px;
    margin: 20px auto  0px auto;
    z-index: 70;
    position: fixed;
    text-align: center;
    
}
#jezikimenu{
    z-index: 70;
    position: fixed;
    top:0;
    right: 0;
    height: 80px;
    margin: 20px;
}

#jezikimenu a{
    margin: 0 12px;
}
#jezikimenumobile{
    position: absolute;
    bottom: 50;
    left: 0;
    right: 0;
    width: 180px;
    margin: auto;
    text-align: center;
    

}
#jezikimenumobile a.menu__link{
    width: 20px;
    text-align: center;
}
.mobilescrollinfo{
    text-align: center;
}
.container{
        width: 80%;
        margin: 0 auto;
}
 
.logo{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 400px;
   margin-top: -200px; /* Half the height */
   margin-left: -200px; /* Half the width */
}
.scrollicon{
    position: absolute;
    bottom: 150;
    left: 50%;

}



 /* #fullpage{
    top:-80;
}  */
.crtaV{
    background-color: #4B88A2;
    height: 7px;

    position: relative;
    z-index: 1;

}
.svetlomodra{
    background-color: #00AAAF;
    
}
.svetlomodra h1{
    font-weight: 900;
    color: #002837;
    font-size: 100px; 
    text-align: center;
    margin: 0px;
    position: relative;
    z-index: 1;
}

.svetlomodra p{
    font-weight: 300;
    width: 40%;
    margin-left: 45.7%;
    font-size: 18px;
   
}
.svetlomodra .crtaV{
    width: 17%;
    
    margin: 20px 0 30px 45.7%;
}
/*ponudba*/
.ponudba{
    width: 40%;
    float:left;
}
.ponudba h1{
    color: #00AAAF;
    font-size: 80px;
    font-weight: 900;
}
.ponudba .normal{
    font-weight: 400;
    color: #fff;
    margin: 40px 0;
    font-size: 18px;
}
.ponudba p{
    width: 80%;
}
.ponudba .crta{
    height: 7px;
    background-color: #4B88A2;
    width: 50%;
    margin: 20px 0 30px 0;
}
.ponudba .modra{
    color: #00AAAF;
    font-weight: 300;
    margin: 40px 0;
}
.ponudbaslike{
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.ponudbaslike img{
    height: 14vh;
    width: auto;
    margin: 2vh 0;
}



.translation{
    position: absolute;
    top:150;
    left:-100;
    width: auto;
    height: 80%;
    opacity: 0.3;
    object-fit: cover;
    max-width: 100%;
    
}
.posta{
    height: 30%;
    position: absolute;
    margin-top: -150px;
    top: 50%;
    left: 0;

}
.bg{

    background: center center / auto no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bg2{
    background: center center / cover no-repeat;
    height: 100%;
    width: 100%;


}

.vzorec2{
    width:100%; 
    height:100%; 
    background:url(pattern2+.svg) center center no-repeat;

}

/*media*/
/*velik*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 

}
/*srednji*/
@media all and (min-width: 768px) and (max-width: 1024px) { 

}
/*mali*/
@media all and (min-width: 480px) and (max-width: 768px) { 

}
/*najmanjši*/
@media all and (max-width: 480px) {
    .logo{
        width: 80%;
    }
    .svetlomodra h1{
    font-size: 2em;
    }
    .svetlomodra p{
        width: 95%;
        margin: auto;
    }
    .svetlomodra .crtaV{
        width: 30%;
        margin: 30px auto;
    }
    .bela h1{
        font-size: 2em;
    }
    .bela p{
        width: 95%;
        margin: 20px auto;
    }
    .bela .crtaV{
        width: 30%;
        margin: 30px auto;
    }
    .ponudba{
        width:95%;
        margin: 50px auto 0 auto;
    }
    .ponudba img{
        width: 80%;
        height: auto;
        margin:2% 10%;
    }
}

/*scrollicon*/

.scrollicon p {
  margin-left: -17px;
  width: max-content;
}
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}
.sectopn{
    position: relative;
}
.vsebina{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*povpraševanje*/
.povprasevanje{
    width: 40%;
    height: 100%;
    position: absolute;
    margin-left: 40%;
    top: 0;
    left: 0;
    padding: 0 15%;
    margin-top: 40px;
}
.povprasevanje h1{
    font-size: 45px;
    color: #00AAAF;
    font-weight: 900;
    margin: 0px 0 20px 0;
    line-height: 60px;
    
}
input{
    background-color: #4B88A2;
    color: white;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    font-weight: 300;
    
}
input:focus{
  outline: none;
}
textarea{
    background-color: #4B88A2;
    color: white;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 20px;
    margin-top: 20px;
    font-weight: 300;
}
textarea:focus{
  outline: none;
}
button{
     box-sizing: border-box;
    
     border: none;
     background-color: #00AAAF;
     color: white;
     padding: 10px 50px;
     border-radius: 20px;
     font-weight: 500;
     font-size: 22px;
     margin: 20px 0;
}
button:focus{
    background-color: #00AAAF;
}

button:hover{
    background-color: #ffF;
    color: #00AAAF;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

/*slider reference */
.referenceslide{
    overflow-x: hidden;
    
}
.bgreference{
    height: 55%;
    width: 100%;
    position: absolute;
    top: 120;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
 .bgreference img{
    width: auto;
    height: 30vh;
    float: left;
    
} 
.bgreference h1{
    font-weight: 900;
    color: #002837;
    font-size: 80px; 
    margin: 0px;

    

}
 .refnapis{
    float: left;
    padding: 10% 0 10% 7%;
    
} 
.crtaref{
    height: 7px;
    width: 60%;
    background-color: #4B88A2;
    margin: 20px 4px;
}

.refslider{
    top:65%;
    left: 0;
    background-color: #fff;
    height: 35%;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    
}

.reflogos{
    width: 80%;
    margin: 0 10% ;
    height: 50px;
    
}

.refslider img{
    height: 50px;
    width: auto;
    margin: 0 50px;
}
.slick-slide{
    outline: none;
}
.slick-prev {
    left: -150px;

}
.slick-next {
    right: -150px;
    background-color: transparent;

}
.beloozadje{
    background-color: #00AAAF;
}


/*puscice*/

.arrow-down {
  width: 0; 
  height: 10%; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  z-index: 11;
  border-top: 60px solid #00AAAF;
  margin: auto;
  position: absolute;
  top: 65%;
  left: 50%;
}


/*kontakt*/
.kontakt{
    width: 40%;
    height: 100%;
    position: absolute;
    background-color: #4B88A2;
    padding: 10%;
    top:0;
    left: 0;
}
.kontakt h1{
    font-weight: 900;
    color: #002837;
    margin: 0px;
    font-size: 45px;
}
.kontakt p{
    font-weight: 500;
    color: #002837;
    margin: 0px;
    font-size: 18px;
}
.kontaktalineja{
    margin: 40px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
.krepko{
    font-weight: 500;
}
.kontakt .crta{
    background-color: #00AAAF;
    height: 7px;
    width: 100%;
    margin: 20px 0 30px 0;
}
.kontakt button{
   
}
#poslji{
     float: right;

}
.ikone{
    height: 25px;
    width: auto;
}
.ikonaplaceholder{
    width: 40px;

}
.kontaktinfo{
    position: relative;
    top: -28;
    left: 60;
}