body{
    background-color:#002837;
    color:white;
    font-family: 'Montserrat', sans-serif;
    
}
a, a:hover, a:active{
    text-decoration: none !important;
}
p{
    line-height: 1.5em;
}
.glava{
    background-color: #002837;
    height: 0px;
    z-index: 70;
    position: fixed;
    top:0;
    left:0;
    right: 0;

}
.glavatelefon{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 91
}
.button-collapse i{
    color: #00AAAF;
    padding: 10px;
    filter: invert(30%);

}
#menu{
    top: 0;
    left:0;
    right: 0;
    height: 80px;
    max-width: 630px;
    margin: 20px auto  0px auto;
    z-index: 70;
    position: fixed;
    text-align: center;
    
}
#jezikimenu{
    z-index: 70;
    position: fixed;
    top:0;
    right: 0;
    height: 80px;
    margin: 20px;
}

#jezikimenu a{
    margin: 0 12px;
}
#jezikimenumobile{
    position: absolute;
    bottom: 50;
    left: 0;
    right: 0;
    width: 180px;
    margin: auto;
    text-align: center;
    

}
#jezikimenumobile a.menu__link{
    width: 20px;
    text-align: center;
}
.mobilescrollinfo{
    text-align: center;
}
.container{
        width: 80%;
        margin: 0 auto;
}
 
.logo{
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 400px;
   margin-top: -200px; /* Half the height */
   margin-left: -200px; /* Half the width */
}
.scrollicon{
    position: absolute;
    bottom: 150;
    left: 50%;

}



 /* #fullpage{
    top:-80;
}  */
.crtaV{
    background-color: #4B88A2;
    height: 7px;
    border-radius: 6px;
    position: relative;
    z-index: 1;

}
.svetlomodra{
    background-color: #00AAAF;
    
}
.svetlomodra h1{
    font-weight: 900;
    color: #002837;
    font-size: 8em; 
    text-align: center;
    margin: 0px;
    position: relative;
    z-index: 1;
}

.svetlomodra p{
    font-weight: 300;
    width: 40%;
    margin-left: 45.7%;
    font-size: 1.3em;
   
}
.svetlomodra .crtaV{
    width: 17%;
    margin-left: 45.7%;
}
.bela{
    background-color: #fff;
    color:#002837;
    
}
.bela h1{
    font-weight: 900;
    color: #00AAAF;
    font-size: 8em; 
    text-align: center;
    margin: 0px;
}
.bela p{
    text-align: center;
    margin: 40px auto;
    width: 25%;
    font-size: 1.3em;
}
.bela .crtaV{
    width: 8%;
    margin: auto;
}
.ponudba{
    width:50%;
    margin: 50px auto 0 auto;
}
.ponudba img{
    width: 28%;
    height: auto;
    margin:0 2.5%;
}
.translation{
    position: absolute;
    top:150;
    left:-100;
    width: auto;
    height: 80%;
    opacity: 0.3;
    object-fit: cover;
    max-width: 100%;
    
}
.posta{
    height: 30%;
    position: absolute;
    margin-top: -150px;
    top: 50%;
    left: 0;

}
.bg{

    background: center center / auto no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bg2{
    background: center center / cover no-repeat;
    height: 100%;
    width: 100%;


}
.bglayer2{

}
.vzorec2{
    width:100%; 
    height:100%; 
    background:url(pattern2+.svg) center center no-repeat;

}

/*media*/
/*velik*/
@media all and (min-width: 1024px) and (max-width: 1280px) { 

}
/*srednji*/
@media all and (min-width: 768px) and (max-width: 1024px) { 

}
/*mali*/
@media all and (min-width: 480px) and (max-width: 768px) { 

}
/*najmanjši*/
@media all and (max-width: 480px) {
    .logo{
        width: 80%;
    }
    .svetlomodra h1{
    font-size: 2em;
    }
    .svetlomodra p{
        width: 95%;
        margin: auto;
    }
    .svetlomodra .crtaV{
        width: 30%;
        margin: 30px auto;
    }
    .bela h1{
        font-size: 2em;
    }
    .bela p{
        width: 95%;
        margin: 20px auto;
    }
    .bela .crtaV{
        width: 30%;
        margin: 30px auto;
    }
    .ponudba{
        width:95%;
        margin: 50px auto 0 auto;
    }
    .ponudba img{
        width: 80%;
        height: auto;
        margin:2% 10%;
    }
}

/*scrollicon*/

.scrollicon p {
  margin-left: -17px;
  width: max-content;
}
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

/*povpraševanje*/
.povprasevanje{
    width: 50%;
    margin-left: 50%;
}
.povprasevanje h1{
    color: #00AAAF;
    font-weight: 900;
}
input{
    background-color: #4B88A2;
    color: white;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    margin-top: 20px;
    
}
input:focus{
  outline: none;
}
textarea{
    background-color: #4B88A2;
    color: white;
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 20px;
    margin-top: 20px;
}
textarea:focus{
  outline: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}